fastapi
uvicorn[standard]
groq
python-dotenv
python-multipart
pydantic
black              # optional, for formatting
pytest             # optional, for tests
astor
esprima                    # JavaScript parser
py_sucrase                 # TypeScript → JavaScript
javalang                   # Java parser
clang 
esprima